doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='Sergio Arrazola')

        title Resume - Sergio Arrazola

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Sergio Arrazola
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='...')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Interests
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#certifications') Certifications
                    

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Sergio 
                        span.text-primary Arrazola
                    .subheading.mb-5
                        | Based in Linz, Austria · 
                        //a(href='mailto:serarrazola&#64;gmail&#46;com') 
                            | serarrazola
                            span(style='display:none') REMOVE_THIS
                            | &#64;gmail&#46;com
                        //|  · 
                        a(href='https://linkedin.com/in/sergio-arrazola', target='_blank') linkedin.com/in/sergio-arrazola
                    p.lead.mb-5
                        | I am a seasoned mobile and web developer with experience in Swift, Java, JavaScript, and modern frameworks. Passionate about innovation and emerging technologies, I have delivered successful projects in telecom, finance, and social media sectors across Europe and Latin America.
                    .social-icons
                        a.social-icon(href='https://linkedin.com/in/sergio-arrazola')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/serginhovii', target='_blank')
                            i.fab.fa-github
                        //a.social-icon(href='#!')
                            i.fab.fa-twitter
                        //a.social-icon(href='#!')
                            i.fab.fa-facebook-f

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Developer
                            .subheading.mb-3 Real Networks, Austria
                            p
                                | Led development and ongoing maintenance of mobile applications including the Ring Back Tones app for T-Mobile Germany using Swift. Maintained and evolved the KontxtVoice SDK for iOS (Swift) and Android (Java), ensuring cross-platform consistency. Maintained and updated the associated Ring Back Tones web application using Angular.
                        .flex-shrink-0
                            span.text-primary November 2024 - Present

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Developer
                            .subheading.mb-3 Euro Information (Lyf Pay), France
                            p
                                | Developed and maintained a Swift/UIKit/Swinject-based mobile application using RxSwift. Built and maintained backend REST APIs in .NET Core (C#) employing CQRS and Hexagonal Architecture. Deployed and managed Kubernetes/OpenShift containers, integrating PodDisruptionBudgets, HPAs, and API Gateways. Contributed to the Angular web admin app, utilizing RxJS for reactive programming.
                        .flex-shrink-0
                            span.text-primary December 2018 - October 2024

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Developer – Technology and Strategy
                            .subheading.mb-3 Lyf Pay, France
                            p
                                | Led research and development on Bluetooth LE dual-screen payment functionality. Created an Android app capable of securely reading/writing encrypted NFC card content. Researched offline payment architectures. Developed and maintained a cross-platform mobile app using React Native. Optimized QR code scanning in Android via custom improvements to React Native Camera. Maintained Node.js RESTful APIs built with Express.js.
                        .flex-shrink-0
                            span.text-primary October 2015 - November 2018

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Research Engineer
                            .subheading.mb-3 LIG, Grenoble, France
                            p
                                | Conducted HCI research on interactive web galleries as part of a Master's thesis. Designed and implemented a Node.js-based test platform to analyze UI/UX behaviors. Ran usability experiments with design school students to validate findings.
                        .flex-shrink-0
                            span.text-primary February 2015 - June 2015

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Project Manager/Developer
                            .subheading.mb-3 Develoop s.l., Bolivia-Spain
                            p
                                | Improved backend performance for Nakoko's social network. Designed "Facebook wall" style interactions. Built ToZapping, a rich multimedia site featuring multi-player audio/video playback and editing. Developed LedDraw using Corel Draw SDK for LED layout design. Created Bhoove, a dual-platform mobile app (Android/iOS).
                        .flex-shrink-0
                            span.text-primary May 2010 - September 2013

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Project Manager/Developer
                            .subheading.mb-3 WebStudio/Flash for Bolivia
                            p
                                | Integrated advanced image processing with ImageMagick for the Scrum Alliance website. Developed an AR-powered timeline app using AS3 and FLARToolkit for Ivie Inc.
                        .flex-shrink-0
                            span.text-primary February 2008 - March 2010

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Master International in Informatics
                            .subheading.mb-3 Grenoble INP, France
                            div Advanced Information Systems and Software Engineering
                            p Project: From interfaces to interaction in web galleries
                        .flex-shrink-0
                            span.text-primary 2014 - 2015

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 BSc. Systems Engineering
                            .subheading.mb-3 University Mayor of San Simón, Bolivia
                            p Systems Engineering
                        .flex-shrink-0
                            span.text-primary 2003 - 2007

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages & Tools
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            | Swift
                        li.list-inline-item
                            | JavaScript (ES6)
                        li.list-inline-item
                            | C#
                        li.list-inline-item
                            | Java
                        li.list-inline-item
                            | Solidity
                        li.list-inline-item
                            | TypeScript
                        li.list-inline-item
                            | iOS
                        li.list-inline-item
                            | .NET Core
                        li.list-inline-item
                            | Angular
                        li.list-inline-item
                            | OpenShift/Kubernetes
                        li.list-inline-item
                            | Node.js
                        li.list-inline-item
                            | React Native
                        li.list-inline-item
                            | MySQL
                        li.list-inline-item
                            | SQL Server
                        li.list-inline-item
                            | Oracle
                    .subheading.mb-3 Workflow
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Mobile-First, Responsive Design
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Cross Browser Testing & Debugging
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Agile Development & Scrum
                    
                    .subheading.mb-3 AI Tools & Platforms
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | ChatGPT
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Claude
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Ollama
                        li
                            span.fa-li
                                i.fas.fa-check
                            | LLaMA
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Model Context Protocol (MCP)
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Cursor

                    .subheading.mb-3 Languages
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Spanish (Native or Bilingual)
                        li
                            span.fa-li
                                i.fas.fa-check
                            | English (Full Professional)
                        li
                            span.fa-li
                                i.fas.fa-check
                            | French (Full Professional)
                        li
                            span.fa-li
                                i.fas.fa-check
                            | German (Professional Working)
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Portuguese (Elementary)

            hr.m-0

            // Interests
            section#interests.resume-section
                .resume-section-content
                    h2.mb-5 Interests
                    p
                        | I have a strong interest in the technical evolution of mobile development, AI tooling, and blockchain technologies, particularly from a coding and implementation perspective. Outside of work, I enjoy staying active through soccer, jogging, and randonnée (hiking). I'm also passionate about learning new languages and exploring different cultures through communication and travel.

            hr.m-0

            // Certifications
            section#certifications.resume-section
                .resume-section-content
                    h2.mb-5 Certifications
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Fundamentals of Red Hat OpenShift for Developers – Red Hat (Issued Jun 2024)
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Advanced Programming in Swift – Meta (Issued May 2024)
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Working with Data in iOS – Meta (Issued May 2024)
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Chainlink Bootcamp – Chainlink Labs (Issued Apr 2024)
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Create the User Interface with SwiftUI – Meta (Issued Mar 2024)
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Programming Fundamentals in Swift – Meta (Issued Mar 2024)
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | React Native – Meta (Issued Mar 2024)
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Blockchain: Foundations and Use Cases – Consensys Academy (Issued Feb 2024)
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Introduction to iOS Mobile Application Development – Meta (Issued Jan 2024)
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Version Control – Meta (Issued Jan 2024)
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Angular Developer – Zero To Mastery (Issued Sep 2023)
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Cryptography I – Stanford Online (Issued Mar 2023)
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Machine Learning – Stanford Online (Issued Mar 2023)
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Java (Basic), JavaScript (Basic & Intermediate), C#, Node.js, SQL – HackerRank
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Problem Solving (Basic & Intermediate) – HackerRank
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | React (Basic) – HackerRank
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | CSS – HackerRank
                        


        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')